<div>
  <div *ngFor="let item of user | keyvalue">
    {{ item.key }} : {{ item.value }}
  </div>
  <form [formGroup]="userForm" (ngSubmit)="createUser($event)">
    <div formGroupName="credentials">
      <div>
        <label
          >username:
          <input type="text" formControlName="username" />
        </label>
      </div>
      <div>
        <label
          >email:
          <input type="text" formControlName="email" />
        </label>
      </div>
      <div>
        <label
          >password:
          <input type="text" formControlName="password" />
        </label>
      </div>
    </div>

    <div formGroupName="address">
      <div>
        <label>
          Street:
          <input type="text" formControlName="street" />
        </label>
      </div>

      <div>
        <label>
          City:
          <input type="text" formControlName="city" />
        </label>
      </div>

      <div>
        <label>
          Zip code:
          <input type="text" formControlName="postalCode" />
        </label>
      </div>
    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>
